body{
    background-color: aliceblue;
}

*{
    font-family: Oxygen;
}
/*
    index.html
 */
.iam {
    border: solid 1px red;
}

.btn-close-float{
    position:absolute;
    top:5%;
    right:3%;
    z-index: +1;
    font-size:24px;
}

/*
    LoginPage
 */

.login-page-block {
    text-align: center;
    padding:0;
}
.login-page-block>div {
    display: inline-block;
    margin:30% auto;
}

.login-page-block>form{
    margin:25% auto;
}

.welcome-block{
    background-color: #1b2242;
    display:inline-block;
}

.login-block {
    display:inline-block;
}

.auth-block{
    display:inline-block;
}

.white_background{
    background-color:white;
}

.high_row{
    height:550px;
}

.row.equal {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

/*
    Welcome To Signup
 */
.welcome-container{
    color: white;
    padding-top: 20px;
}

.welcome-title{
    font-family: Oxygen;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;
    margin:0;
}

.welcome-text{
    margin:auto;
    font-family: Oxygen;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    padding: 10% 0;
}

.welcome-text-pwd{
    margin:auto;
    width: 200px;
    font-family: Oxygen;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    padding: 10% 0;
}

.welcome-text-dark{
    margin:auto;
    width: 452px;
    font-family: Oxygen;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #1b2242;
    padding: 10% 0;
}


.logo{
    margin:auto;
}

.logo-small{
    height:65px;
}

/*
    LoginForm
 */

.form-group{
    margin-bottom:7%;
}
.h-e-a-d-e-r-t-e-x-t {
    height: 27.9px;
    font-family: Oxygen;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    margin-left: 8%;
    margin-bottom: 8%;
}

.form-horizontal{
    margin:auto;
}

.btn-forgotPwd{
    float:right;
    margin-right: 20%;
}

.btn-forgotPwd hover{

}

/*
    Forgot Password Page
 */
.reset-pwd-page-block {
    text-align: center;
    padding:0;
    height:70%;
}
.reset-pwd-page-block-dark {
    text-align: center;
    padding:0;
    height:70%;
    background-color: #1b2242;
}

.reset-pwd-page-block-left{
    display: inline-block;
    margin:50% auto;
}

.reset-pwd-block>form{
    margin:30% auto;
}

.reset-pwd-block{
    background-color: white;
}

.over-map-block{
    background-color: white;
}

/*
    Email Send Page
 */
.email-sent-block{
    background-color: white;
    margin:0;
    text-align: center;
    padding:0;
    position: absolute;
    left:25%;
    top:25%;
    z-index: +1;
    padding: 20px;
}

.email-sent-block>div {
    display: inline-block;
    margin:auto;
}

.logo-email{
    height:60px;
    width:85px;
    margin:auto;
}
/*
    Input style [SingupPage LoginPage]
 */
.input-w-60{
    width: 60% ;
    margin:auto;
    border-top-style: none;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-radius: 0;
}

/*
    Button style
 */

.btn-welcome{
    color:white;
    width: 80%;
    background-color: #1b2242;
    border-color:white;
    border-radius:0;
    margin-bottom: 4px;
}

.btn-nav{
    color: #4C5E71;
    background-color: white;
    border: none;
    border-radius:0;
    width:100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.no-bg {
    background: transparent;
}
.btn-nav:hover{
    color: white;
    background-color: rgba(250,250,250,0.4);
    border: none;
    border-radius:0;
    width:100%;
    opacity: 1;
}

.btn-login{
    color:#1b2242;
    background-color: white;
    border-color:#1b2242;
    border-radius:0;
    width:60%;
    margin-bottom:7%;
}

.btn-fb{
    background-color: #3b5998;
}

.btn-auth{
    margin:auto;
}

.btn-block{
    width:48%;
    margin:auto;
}

.btn-social{
    text-align: center;
}

.btn-nav-login{
    position: absolute;
    right:50px;
    top:50px;
    z-index: +1;
}

/*
    Welcome page(temp)
 */
.h-e-a-d-e-r-t-e-x-t-wel {
    height: 27.9px;
    font-family: Oxygen;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    margin-left: 8%;
    margin-bottom: 8%;
}

.welcome-text-dark-wel{
    margin:5% auto;
    width: 452px;
    font-family: Oxygen;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #1b2242;
}

.email-sent-block-wel{
    background-color: white;
    margin:0;
    text-align: center;
    padding:0;
    position: absolute;
    left:30%;
    top:75%;
    z-index:+1;
    height: 350px;
    width:500px;
}

.email-sent-block-wel>div {
    display: inherit;
    margin-bottom: 7%;
}

@media screen and (max-width:500px){

    .welcome-title{
        width:25%;
    }

    .welcome-block{
        width:100%;
    }

    .email-sent-block-wel{
        width:100%;
    }
}

.no-click-through {
    pointer-events: auto;
}
.float_on_the_map{
    text-align: center;
    z-index: +1;
    height: 100%;
}

.float_on_the_map_outer{
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 0;
    z-index: +1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.float_on_the_map-large{
    padding-top: 10px;
    text-align: center;
    position: absolute;
    left: 0; top: 10%; right: 0; bottom: 0;
    margin: auto;
    z-index:+1;
    height:100%;
}

.float_on_the_map-small{
    text-align: center;
    position: absolute;
    margin: auto;
    z-index:+1;
    height:30px;
    width:500px;
}

.float_on_the_map>div {
    display: inherit;
}

.help-block{
    color:red;
    margin: 0;
}

.drop-zone {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:rgba(10, 19, 58, 0.93);
    border:none;
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
}

.drop-zone-img {
    height:85px;
    width:85px;
    margin:auto;
    border:1px solid black;
}

.img-circle {
    border-radius: 50%;
    height:75px;
    width:75px;
    margin:auto;
    background-color:rgba(10, 19, 58, 0.93);
}

/*
    User profile, Side bar
 */
.profile-section{
    height:100%;
    border-bottom: rgba(255,255,255,0.75);
    padding: 30px 0;
}

.profile-att{
    width:100%;
    position: absolute;
    bottom: 0;
}

.center-text{
    margin:auto;
    padding:0;
    font-family: Oxygen;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    color: #dee1f3;
    text-align: center;
}

a.list-group-item{
    color:white;
    background-color: rgba(10, 19, 58, 0.93);
}

a.list-group-item-white{
    background-color:white;
    color: rgba(10, 19, 58, 0.93);
}
.mid-block-favourite-left{
    text-align: center;
}
a.list-group-item:hover {
    color:white;
    background-color: rgba(24, 35, 85, 0.44);
}

.list-group-item{
    border:none;
}

.btn-on-map{
    position:absolute;
    top:0;
    z-index: +1;
    right:0;
    margin-right: 2%;
}

.profile-btn-on-map{
    position:absolute;
    top:0;
    left:0;
    z-index: +1;
    height:100%;
    border-radius: 0;
}

.modal-backdrop{
    z-index:-1;
}

.sidebar{
    background-image:url("../img/section-bg-half280px.jpg");
    background-size:cover;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding:0;
    height:100%;
}

.sidebar-icon{
    float:left;
    margin-left:10%;
    margin-right:10%;
    width:20px;
    height:20px;
}

.btn-fold-sidebar{
    background-color: transparent;
    color:white;
    float:right;
    border:none;
}

.btn-unfold-sidebar{
    background-color: rgba(10, 19, 58, 0.93);
    color:white;
    border:white;
    border-width: medium;
    width:5px;
}

.btn-unfold-sidebar:hover{
    border:none;
    color:white;
    border-radius: 0;
    background-color: rgba(24, 35, 85, 0.44);
}

.btn-fold-sidebar:hover{
    border:none;
    color:white;
    border-radius: 0;
    background-color: transparent;
}

/*
    Account Setting Menu & Page
 */
.setting-menu{
    float:left;
}

.setting-content{
    float: right;
}

.profile-title{
    float:left;
}

.profile-content{
    float:right;
}

.setting-content-title{
    float:left;
}

.setting-content-photo{
    margin:10% 5% auto;
    float:right;
}

.setting-content-photo-area{
    float:right;
}

.table{
    margin-top:120px;
}

.middle-block{
    margin:100px auto;
}

.update-pswd-form{
    margin:100px auto;
}

.setting-menu{
    margin:100px auto;
    width:100%;
}

.col-md-2{
    padding:0;
}

.setting-menu-block{
    background: rgb(10, 19, 58);
}


/*
    Landing Page
 */
.jumbotron{
    margin-bottom:0;
    height:100%;
    background-image:url("../img/landing_page_photo.png");
    background-size:cover;
    width: 100%;
    position: absolute;
    top: 0;
}

.title-white{
    color:white;
}

.full-length{
    width:100%;
}

.landingPage{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    text-align: center;
    padding:10% 0;
}

.landing-content{
    width:100%;
    margin:auto;
}

/*
    Search History
 */
.vertical-block{
    position: absolute;
    top: 0;
    height: 70%;
    margin-top: 2%;
}

.vertical-block-title{
    background-color:rgb(10, 19, 58);
    margin:0 auto;
    width:100%;
    top:0;
    height: 20%;
    color:white;
}

.vertical-block-title > h4{
    font-weight: lighter;
    position: absolute;
    top: 10%;
    left:20px;
}

.vertical-block-content{
    top: 20%;
    background-color: white;
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.vertical-block-content-left{
    border-left: 1px darkgray;
}

.vertical-block-content-right{
    margin-top: 30px;
}

.history-button{
    float:right;
    margin:auto 1%;
}

.col-md-8{
    padding-left:0;
    padding-right:0;
}

.checkbox {
    float: right;
}

.search-history-block{
    height: 450px;
    overflow: scroll;
    margin-top: 30px;
}
.search-history-entry{
    background-color: honeydew;
    margin-bottom: 1%;
}
.search-history-date-title{
    float:left;
}


/* searchResultList and searchResultItem */
*{
    margin: 0;
    padding: 0;
}

.result_box{
    position: relative;
    font-size: 0.9em;
    float: left;
    width: 638px;
    height: 149px;
    border: solid 1px aliceblue;
    background-color: #E0FFFF;
    box-shadow: 0 2px 3px 0 rgba(56, 60, 79, 0.37);
}

.empty_result_box{
    position: relative;
    font-size: 0.9em;
    float: left;
    height: 149px;
}

.no-user-submitted-de {
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    position: relative;
    top: 50px;
}

.contribute-your-own {
    font-family: Oxygen;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.4px;
    position: relative;
    top: 70px;
}

.add_box{
    position: relative;
    top: 90px;
    text-align: center;
}

.add_box img{
    width: 55px;
    height: 55px;
}

.first_result_box{
    padding-left: 10px;
    font-size: 1.1em;
    border-top: none;
}

.user_box{
    width: 80%;
    height: 50%;
    float: right;
    text-align: left;
    background-color: #ffffff;
}

.user_box span{
    position: relative;
    top: 15px;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.description{
    width: 80%;
    height: 50%;
    float: right;
    background-color: #ffffff;
    font-family: Oxygen;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.user{
    height: 40px;
    width: 40px;
    position: relative;
    top: 12px;
    border-radius:50%;
}

.like_box{
    width: 20%;
    float: left;
    height: 100%;
    background-color: #ffffff;
    /*!*border: 1px solid black;*!*/

}

.path-2 {
    width: 35px;
    height: 35px;
    background-image: linear-gradient(135deg,rgba(247, 107, 28, 0.6),rgba(250, 217, 97, 0.0) 60%);
}

.thumb{
    height: 30px;
    width: 30px;
    position: relative;
    top: 20px;
    object-fit: contain;
}

.first_thumb{
    height: 40px;
    width: 40px;
}

.thumbUp{
    height: 30px;
    width: 30px;
    position: relative;
    left: 30%;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);		/* IE 9 */
    -webkit-transform: rotate(-30deg);	/* Safari and Chrome */
    -o-transform: rotate(-30deg);		/* Opera */
    -moz-transform: rotate(-30deg);		/* Firefox */
}

.like_num{
    font-family: Oxygen;
    font-size: 15px;
    letter-spacing: -0.3px;
    position: relative;
    top: 25px;
    text-align: center;
}

.first_thumbUp{
    height: 40px;
    width: 40px;
}

.home-container{
    background-color: #777;
    left: 30px;
}

.btn-unstyle{
    box-shadow: none  !important;
    outline: 0 !important;
    outline-offset: 0  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
    border: 0;
}

.result_page{
    min-height:90vh;
    height:90vh;
    background-color: rgba(255,255,255,0.9);
}

.pre-scrollable {
    overflow-y: auto;
}

.scrollit{
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
    background-color: white;
    border-radius: 1px;
    text-align: center;
    box-shadow: 3px 2px 12px 0 rgba(56, 60, 79, 0.37);
    height: 300px;
    margin-top:2px;
}

.no_scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #4C5E71;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #005bab;
}

.add_description{
    position: absolute;
    left: 0;
    right: -50%;
    background-color: white;
    z-index: 2;
    height: 300px;
}

#discription{
    font-size: 0.6em;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: red;
    text-align: center;
    float:right;
    padding-top: 10px;
}

/*
    Search Result
 */
.search-result-bar{
    background-color: white;
}

.nearby_tag{
    background-color: white;
    text-align: justify;
    text-justify:distribute-all-lines;
    display: inline-block;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
}

.auto-comment{
    background-color: white;
    text-align: justify;
    text-justify:distribute-all-lines;
    display: inline-block;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
}

.auto-sentence{
    width: 100%;
    background-color: white;
    text-align: justify;
    text-justify:distribute-all-lines;
    display: inline-block;
    height:  100px;
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.comment{
    padding:10px;
}

.share-sec{
    margin-left: 30px;
}

.small-icon-sq{
    height:25px;
    width:25px;
    margin-left: 3px;
    margin-right: 5px;
}

.small-icon-rec{
    height:25px;
    width:20px;
}

.photo-tag{
    background-image:url("../img/section-bg-1-half280px.jpg");
    display: inline-block;
    padding-top: 5px;
    color: white;
}

.close{
    color: white;
    background-color: transparent;
    float: right;
}

.place-sec{
    display: inline-block;
    text-align: center;
    overflow-y: auto;
}

.landmark-sec{
    padding:10px;
    overflow-y: auto;
}

/**  STYLE 11 */
#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

#style-1::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#style-1::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}

.features-btn{
    position: relative;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    float:center;
}

.icon-place{
    float: left;
    margin-left: 2.5px;
    margin-right: 2.5px;
    position: relative;
}

.left-text{
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 8px;
    font-family: Oxygen;
    font-size: 17px;
    letter-spacing: -0.3px;
    background-color: #FCFCFF;
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
}

.landing-search-bar{
    margin:auto;
    width: 50%;
}

/*
    My Favourites
 */


.favourite-item-box{
    padding-bottom:2%;
    padding-top:2%;
    height: 150px;
}

.favourite-item-box:hover {
    background-color: rgba(24, 35, 85, 0.44);
}

.favourite-img{
    height: 100%;
    background-color: transparent;
}

.favourite-content{
    font-family: Oxygen;
    font-size: 17px;
    height: 100%;
}

.favourite-content-date{
    color:darkgray;
    font-weight: lighter;
}

.small-window{
    position:absolute;
    top:40%;
    background: white;
    padding:3%;
}

.welcome-window{
    position:absolute;
    top:15%;
    background: white;
    padding:3%;
}

.form-group-n{
    margin:4%;
    text-align: center;
}

.margin-small{
    margin:3% auto;
}

.text-align-right{
    text-align: right;
    margin:auto;
}

.history-entries-date{
    text-align: left;
    margin: 5% auto;
}

.entry-block{
    margin:auto 2%;
}

.search-entry-content{
    margin:auto auto 20px 20px;
    color: black;

}

search-entry-date{
    float:left;
}

.search-entry-content:hover{
    background-color: rgba(222, 225, 243, 0.27);
    color: #4a90e2;
}

.search-entry-content:hover + checkbox-on-entry{
    display: block;
}


.link-on-form{
    position: inherit;
    top:-25%;
}

.link-on-home-form{
    position: inherit;
    top:70%;
}

.window-drop-shadow{
    box-shadow: 2px 2px 5px #888888;
    background-color: white;
}


.checkbox-on-entry{
    float:right;
}

.auto-item{
    position: relative;
    font-size: 0.9em;
    float: left;
    height: 149px;
    border: solid 0.1px grey;
    background-color: white;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
    filter: alpha(opacity=100);  /* IE 5-7 */
    -moz-opacity: 1.0;          /* Netscape */
    -khtml-opacity: 1.0;        /* Safari 1.x */
    opacity: 1.0;               /* Good browsers */
    text-align: center;
}

.auto-item-text{
    color: #4C5E71;
    text-align: left;
    display: inline-block;
}

.auto_list{
    border-collapse: collapse;
    text-align: left;
    background: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;               /* Good browsers */
    overflow: auto;
    min-height:90vh;
    height:90vh;
}

.img-goButton-auto{
    height: 147px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: aliceblue;
}

.search-bar-box{
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.5);
}

.search-bar-box>span{
    background-color: white;
    border: 0;
}

.forgot-password-text{
    text-align: right;
    padding-right: 110px;
    float: right;
}

.direction-container{
    background-image:url("../img/section-bg-1-half280px.jpg");
}

.page-up{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image:url("../img/section-bg-1-half280px.jpg");
    z-index: 10;
}

.page-bottom{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image:url("../img/section-bg-1-half280px.jpg");
}

.direction-landmark {
    color: #5d82ad;
    background-color: #f7f7f7;
    font-size:16px;
    font-style:italic;
}

.direction-row {
    border-bottom: 1px solid #ccc;
}

.direction-page-desc{
    min-height:80vh;
    height:80vh;
    background-color: white;
    text-align: left;
    font-family: Oxygen;
    font-size: 20px;
}
